## -*- coding: utf-8 -*- 
<!doctype html>
<html>
	<head>
		<title><%block name="title"></%block>Znote</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!--CSS-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="/static/image/favicon.png" type="image/png">
		<link rel="stylesheet" href="/static/css/style.css">
	</head>
	<body>
		<div id="container">
			<aside id="side-bar">
				<header>
					<h1>Znote</h1>
					<p class="subtitle">快乐生活，笑对人生</p>
				</header>
				<nav>
					<ul>
						<li><a href="/">所有文章</a></li>
						% for page in pages:
						<li><a href="/${page.uri}">${page.title}</a></li>
						% endfor
					</ul>
				</nav>
			</aside>
			<section id="main">
				<%block name="main">
				</%block>
			</section>
		</div>
	</body>
</html>
