<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title><%block name="title"></%block>Znote</title>
	<link rel="stylesheet" href="/static/css/style.css" />
	<link rel="stylesheet" href="/static/css/pygments.css" />
	<link rel="alternate" type="application/rss+xml" title="RSS" href="http://zqqf16.info/rss.xml" />
	<%block name="head"></%block>
</head>
<body>
    <div id="container">
      <div id="main" role="main">
        <header>
		<h1><%block name="page_title">Znote</%block></h1>
		</header>

     <nav>
		<span><a title="home page" class="" href="/">home</a></span>
        % for page in info['pages']:
        <span><a href="/${page.uri}" title="${page.title}">${page.title}</a></span>
        % endfor
     </nav>

     <article class="content">
        <section class="post">
            <%block name="main"></%block>
        </section>
     </article>
	 <div id="copy">&copy; Powered by <a href="https://github.com/zqqf16/zqqf16.github.com" title="Peanut">Peanut</a> | Themed by <a href="http://lhzhang.com" title="sext ii">sext ii</a></div>
      </div>
    </div> <!--! end of #container -->
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0100dcff30150b1fe336a8b5d0d50684' type='text/javascript'%3E%3C/script%3E"));
    </script>
  </body>
</html>
