<!DOCTYPE html>
<html lang="en">
<head>
	<title><%block name="title"></%block>Znote</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/static/css/style.css" />
	<link rel="stylesheet" href="/static/css/pygments.css" />
</head>
<body>
    <div id="container">
      <div id="main" role="main">
        <header>
		<h1>Znote</h1>
		</header>

     <nav>
		<span><a title="home page" class="" href="/">home</a></span>
        % for page in info['pages']:
        <span><a href="/${page.uri}" title="${page.title}">${page.title}</a></span>
        % endfor
     </nav>

     <article class="content">
        <section class="post">
            <%block name="main"></%block>
        </section>
     </article>
         <div id="copy">&copy; Powered by Peanut | Themed by <a href="http://lhzhang.com" title="sext ii">sext ii</a></div>
      </div>
    </div> <!--! end of #container -->
  </body>
</html>
