## -*- coding: utf-8 -*- 
<%inherit file="base.html"/>

<%block name="head">
	<meta name="google-site-verification" content="FW_F-Ez0TldaAzvGUQ2kioxNpne-KbKCiSu1y_5bXTU" />
	<meta content="Zqqf16的个人BLog，记录我的生活、学习、以及心情。" name="description">
	<link href="https://plus.google.com/107911439044090080809" rel="publisher" />
</%block>

<%block name="main">
	<ul class="listing">
	% for post in posts:
		<li class="listing-item">
			<time datetime="${post.date.strftime('%Y-%m-%d')}">${post.date.strftime('%Y-%m-%d')}</time>
			<a href="/${post.path}">${post.title}</a>
		</li>
	% endfor
	</ul>
</%block>
